<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance"
        xmlns= "http://java.sun.com/xml/ns/javaee"
        xmlns:web= "http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        xsi:schemaLocation= "http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version= "3.0" id="merchant-product-apply-job" >
    <display-name>tonghu-consumer</display-name>

    <!-- 编码过滤器 -->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- token 验证过滤 -->

    <context-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>classpath*:configs/spring-tonghu-consumer-application.xml</param-value>
     </context-param>
     <listener>
         <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
     </listener>
    <!-- Spring 刷新Introspector防止内存泄露 -->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>


    <!--设置不使用缓存的过滤器配置  开始 -->
    <filter>
        <filter-name>ForceNoCacheFilter</filter-name>
        <filter-class>com.tonghu.pub.common.filter.ForceNoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ForceNoCacheFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForceNoCacheFilter</filter-name>
        <url-pattern>*.ftl</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ForceNoCacheFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <!--设置不使用缓存的过滤器配置  结束 -->


    <!-- session超时时间 分钟 -->
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

</web-app>
