<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="monitorReceiverLogDao">
	<resultMap id="monitorReceiverLogInfoResult" type="monitorReceiverLog">
		<id property="id" column="id"/>
		<result property="innerSerialId" column="inner_serial_id"/>
		<result property="serviceName" column="service_name"/>
		<result property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
		<result property="orgId" column="org_id"/>
		<result property="roleIds" column="role_ids"/>
		<result property="resultCode" column="result_code"/>
		<result property="resultMsg" column="result_msg"/>
		<result property="timeCost" column="time_cost"/>
		<result property="fullUrl" column="full_url"/>
		<result property="remoteIp" column="remote_ip"/>
		<result property="serverIp" column="server_ip"/>
		<result property="createTiem" column="create_time"/>
		<result property="invokeTime" column="invoke_time"/>
		<result property="responseTime" column="response_time"/>
	</resultMap>
	
	<sql id="allColumn">
		id, inner_serial_id, service_name, user_id, user_name, org_id, role_ids, result_code, result_msg, time_cost, full_url,
		remote_ip, server_ip, create_time, invoke_time, response_time
    </sql>
  
	<insert id="insertMonitorReceiverLog" parameterType="monitorReceiverLog" useGeneratedKeys="true" keyProperty="id">
		insert into monitor_receiver_log (
		<trim suffix="" suffixOverrides=",">
		    <if test="innerSerialId != null">
				inner_serial_id,
			</if>
			<if test="serviceName != null">
				service_name,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="orgId != null">
				org_id,
			</if>
			<if test="roleIds != null">
				role_ids,
			</if>
			<if test="resultCode != null">
				result_code,
			</if>
			<if test="resultMsg != null">
				result_msg,
			</if>
			<if test="timeCost != null">
				time_cost,
			</if>
			<if test="fullUrl != null">
				full_url,
			</if>
			<if test="remoteIp != null">
				remote_ip,
			</if>
			<if test="serverIp != null">
				server_ip,
			</if>
			<if test="invokeTime != null">
				invoke_time,
			</if>
			<if test="responseTime != null">
				response_time, 
			</if>
			create_time,
		</trim>
		) values(
		<trim suffix="" suffixOverrides=",">
			<if test="innerSerialId != null">
				#{innerSerialId},
			</if>
			<if test="serviceName != null">
				#{serviceName},
			</if>
			<if test="userId != null">
				#{userId},
			</if>
			<if test="userName != null">
				#{userName},
			</if>
			<if test="orgId != null">
				#{orgId},
			</if>
			<if test="roleIds != null">
				#{roleIds},
			</if>
			<if test="resultCode != null">
				#{resultCode},
			</if>
			<if test="resultMsg != null">
				#{resultMsg},
			</if>
			<if test="timeCost != null">
				#{timeCost},
			</if>
			<if test="fullUrl != null">
				#{fullUrl},
			</if>
			<if test="remoteIp != null">
				#{remoteIp},
			</if>
			<if test="serverIp != null">
				#{serverIp},
			</if>
			<if test="invokeTime != null">
				#{invokeTime},
			</if>
			<if test="responseTime != null">
				#{responseTime},
			</if>
			NOW(),
		</trim>
		)
	</insert>
	
	<!-- 根据检索条件获取监控日志的数量 -->
	<select id="selectReceiverLogCountByQuery" resultType="Integer" parameterType="monitorReceiverLogQuery">
		SELECT 
			COUNT(1) 
		FROM 
			monitor_receiver_log 
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null">
				AND <![CDATA[ id = #{id} ]]>
			</if>
			<if test="innerSerialId != null">
				AND <![CDATA[ inner_serial_id = #{innerSerialId} ]]>
			</if>
			<if test="serviceName !=null">
				AND service_name like CONCAT('%','${serviceName}','%' )
			</if>
			<if test="userId !=null">
				AND <![CDATA[ user_id = #{userId} ]]>
			</if>
			<if test="orgId !=null">
				AND <![CDATA[ org_id = #{orgId} ]]>
			</if>
			<if test="resultCode !=null">
				AND <![CDATA[ result_code = #{resultCode} ]]>
			</if>
			<if test="fullUrl !=null">
				AND full_url like CONCAT('%','${fullUrl}','%' )
			</if>
			<if test="invokeTimeStart !=null">
				AND <![CDATA[ invoke_time >= DATE_FORMAT('${invokeTimeStart}','%Y-%m-%d %T') ]]>
			</if>
			<if test="invokeTimeEnd !=null">
				AND <![CDATA[ invoke_time <= DATE_FORMAT('${invokeTimeEnd}','%Y-%m-%d %T') ]]>
			</if>
		</trim>
	</select>
	
	<!-- 根据检索条件获取日志的信息 -->
	<select id="selectReceiverLogInfoByQuery" resultType="monitorReceiverLogQuery" 
				resultMap="monitorReceiverLogInfoResult" parameterType="monitorReceiverLogQuery">
		SELECT 
			<include refid="allColumn"/> 
		FROM 
			monitor_receiver_log 
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null">
				AND <![CDATA[ id = #{id} ]]>
			</if>
			<if test="innerSerialId != null">
				AND <![CDATA[ inner_serial_id = #{innerSerialId} ]]>
			</if>
			<if test="serviceName !=null">
				AND service_name like CONCAT('%','${serviceName}','%' )
			</if>
			<if test="userId !=null">
				AND <![CDATA[ user_id = #{userId} ]]>
			</if>
			<if test="orgId !=null">
				AND <![CDATA[ org_id = #{orgId} ]]>
			</if>
			<if test="resultCode !=null">
				AND <![CDATA[ result_code = #{resultCode} ]]>
			</if>
			<if test="fullUrl !=null">
				AND full_url like CONCAT('%','${fullUrl}','%' )
			</if>
			<if test="invokeTimeStart !=null">
				AND <![CDATA[ invoke_time >= DATE_FORMAT('${invokeTimeStart}','%Y-%m-%d %T') ]]>
			</if>
			<if test="invokeTimeEnd !=null">
				AND <![CDATA[ invoke_time <= DATE_FORMAT('${invokeTimeEnd}','%Y-%m-%d %T') ]]>
			</if>
		</trim>
		<choose>
			<when test="sortBy != null and sortBy != ''">
				<if test="sortType == 1">
					ORDER BY ${sortBy} ASC
				</if>
				<if test="sortType == 2">
					ORDER BY ${sortBy} DESC
				</if>
			</when>
			<otherwise>
				ORDER BY id ASC
			</otherwise>
		</choose>
		<if
			test="startNum != null and startNum >= 0 and pageSize != null and pageSize > 0">
			limit #{startNum}, #{pageSize}
		</if>
	</select>
</mapper>