<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="resourcesDao">
	<resultMap id="resourcesInfoResult" type="resources">
		<id property="id" column="id"/>
		<result property="resourceName" column="resource_name"/>
		<result property="resourceUrl" column="resource_url"/>
		<result property="moduleId" column="module_id"/>
		<result property="sortNum" column="sort_num"/>
		<result property="isRestricted" column="is_restricted"/>
		<result property="isMenu" column="is_menu"/>
		<result property="createTime" column="create_time"/>
		<result property="createUserId" column="create_userid"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateUserId" column="update_userid"/>
		<result property="note" column="note"/>
	</resultMap>
	
	<sql id="allColumn">
		id, resource_name, resource_url, module_id, sort_num, is_restricted, is_menu, create_time, create_userid, update_time, update_userid, note
  </sql>
  
	<insert id="insertResourcesInfo" parameterType="resources" useGeneratedKeys="true" keyProperty="id">
		insert into resources (
		<trim suffix="" suffixOverrides=",">
		    <if test="resourceName != null">
				resource_name,
			</if>
			<if test="resourceUrl != null">
				resource_url,
			</if>
			<if test="moduleId != null">
				module_id,
			</if>
			<if test="isRestricted != null">
				is_restricted,
			</if>
			<if test="isMenu != null">
				is_menu,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUserId != null">
				create_userid,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUserId != null">
				update_userid,
			</if>
			<if test="note != null">
				note,
			</if>
		</trim>
		) values(
		<trim suffix="" suffixOverrides=",">
		   <if test="resourceName != null">
				#{resourceName},
			</if>
			<if test="resourceUrl != null">
				#{resourceUrl},
			</if>
			<if test="moduleId != null">
				#{moduleId},
			</if>
			<if test="isRestricted != null">
				#{isRestricted},
			</if>
			<if test="isMenu != null">
				#{isMenu},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="createUserId != null">
				#{createUserId},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="updateUserId != null">
				#{updateUserId},
			</if>
			<if test="note != null">
				#{note},
			</if>
		</trim>
		)
		<selectKey keyProperty="id" resultType="long" order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<!-- 获取所有符合条件的系统资源信息 -->
	<select id="selectResourcesByQuery" resultMap="resourcesInfoResult" resultType="resources" parameterType="resourcesQuery">
		SELECT 
			<include refid="allColumn"/> 
		FROM 
			resources 
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null">
				AND <![CDATA[ id = #{id} ]]>
			</if>
			<if test="resourceName !=null">
				AND resource_name like CONCAT('%','${resourceName}','%' )
			</if>
			<if test="resourceUrl !=null">
				AND resource_url like CONCAT('%','${resourceUrl}','%' )
			</if>
			<if test="moduleId !=null">
				AND module_id = #{moduleId}
			</if>
			<if test="isRestricted !=null">
				AND is_restricted = #{isRestricted}
			</if>
			<if test="isMenu !=null">
				AND is_menu = #{isMenu}
			</if>
		</trim>
		<choose>
			<when test="sortBy != null and sortBy != ''">
				<if test="sortType == 1">
					ORDER BY ${sortBy} ASC
				</if>
				<if test="sortType != 1">
					ORDER BY ${sortBy} DESC
				</if>
			</when>
			<otherwise>
				ORDER BY id DESC
			</otherwise>
		</choose>
		<if
			test="startNum != null and startNum >= 0 and pageSize != null and pageSize > 0">
			limit #{startNum}, #{pageSize}
		</if>
	</select>
	
	<!-- 获取所有的系统资源信息 -->
	<select id="selectAllResources" resultMap="resourcesInfoResult" resultType="resources">
		SELECT 
			<include refid="allColumn"/> 
		FROM 
			resources 
		ORDER BY id ASC
	</select>
	
	<!-- 获取用户登录后默认可以访问的资源，不受角色限制 -->
	<select id="selectNonRestrictedResources" resultMap="resourcesInfoResult" resultType="resources">
		SELECT 
			<include refid="allColumn"/> 
		FROM 
			resources 
		WHERE 
			is_restricted = 0
		ORDER BY id ASC
	</select>
	
	<!-- 根据id获取系统资源信息 -->
	<select id="selectResourceInfoByIdList" resultMap="resourcesInfoResult" resultType="resources" parameterType="java.util.List">
		SELECT 
			<include refid="allColumn"/> 
		FROM 
			resources  
		WHERE id IN
			<foreach collection="list" item="id"
				open="(" separator="," close=")">
				#{id}
			</foreach> 
	</select>
	
</mapper>